node_modules/
.git/
.DS_Store
coverage/
*.log
package-lock.json
npm-shrinkwrap.json

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ephemeral files
dist/
docs/markdown-to-jsx.js
docs/markdown-to-jsx.js.map
